[submodule ".repos/effect"]
	path = .repos/effect
	url = https://github.com/Effect-TS/effect.git
	shallow = true
[submodule ".repos/commonmark-js"]
	path = .repos/commonmark-js
	url = https://github.com/commonmark/commonmark.js.git
	shallow = true
[submodule ".repos/commonmark-spec"]
	path = .repos/commonmark-spec
	url = https://github.com/commonmark/commonmark-spec.git
	shallow = true
[submodule ".repos/cmark-gfm"]
	path = .repos/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
	shallow = true
[submodule ".repos/mdast"]
	path = .repos/mdast
	url = https://github.com/syntax-tree/mdast.git
	shallow = true
[submodule ".repos/mdast-util-from-markdown"]
	path = .repos/mdast-util-from-markdown
	url = https://github.com/syntax-tree/mdast-util-from-markdown.git
	shallow = true
[submodule ".repos/mdast-util-mdx-jsx"]
	path = .repos/mdast-util-mdx-jsx
	url = https://github.com/syntax-tree/mdast-util-mdx-jsx.git
	shallow = true
[submodule ".repos/mdast-util-mdx-expression"]
	path = .repos/mdast-util-mdx-expression
	url = https://github.com/syntax-tree/mdast-util-mdx-expression.git
	shallow = true
[submodule ".repos/mdast-util-mdxjs-esm"]
	path = .repos/mdast-util-mdxjs-esm
	url = https://github.com/syntax-tree/mdast-util-mdxjs-esm.git
	shallow = true
[submodule ".repos/spdx-license-list-data"]
	path = .repos/spdx-license-list-data
	url = https://github.com/spdx/license-list-data.git
	shallow = true
[submodule ".repos/schemaorg"]
	path = .repos/schemaorg
	url = https://github.com/schemaorg/schemaorg.git
	shallow = true
